body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
    background-color: #0c0c0c;
}

h1 {
    color: #fff;
    display: flex; /* Uncommented this line */
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("5bd1aa2a822585b843d5ac4348a10be1.png");
    background-size: cover; /* This will cover the entire area without distorting the image */
    background-position: center; /* This will center the image in the element */
}
